/* ローカルフォントの適用 */
@font-face {
    font-family: 'KIYOSUNASANS';
    src: url('fonts/KIYOSUNASANS-B-1.0.1.OTF') format('opentype');
}

@font-face {
    font-family: 'Terano';
    src: url('fonts/TERANO BOLD.TTF') format('truetype');
}

@font-face {
    font-family: 'Terano-R';
    src: url('fonts/TERANO\ REGULAR.TTF.TTF') format('truetype');
}


/* PC用スタイル */
.pc-content {
    display: block;
}

.sp-content {
    display: none;
}

img{
    object-fit: cover;
}

/* 基本スタイルの設定 */
body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #121212;
    font-family: 'KIYOSUNASANS', sans-serif;
}

section {
    padding: 20px;
    text-align: center;
}


/* Header Section */
.main-header {
    padding: 5px 0;
    background: rgba(29, 29, 29, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed; 
    top: 0; 
    width: 100vw; 
    z-index: 10;
}


.main-header h1 {
    font-size: 24px;
    color: #fff;
    padding-left: 5%;
    font-family: 'Terano', sans-serif;
}

.main-header p {
    font-size: 32px;
    color: #fff;
    font-family: 'Abel', sans-serif;
}

.main-header nav {
    margin-left: auto;
}

.main-header ul {
    display: flex;
}

.main-header.main-header ul a {
    margin-right: 40px;
    text-decoration: none; 
    color: #fff; 
    font-family: 'Abel', sans-serif; 
    font-size: 28px; 
    position: relative; 
}

.main-header ul a::before {
    content: ''; 
    position: absolute; 
    bottom: -2px; 
    left: 0; 
    width: 100%; 
    height: 2px; 
    background-color: #fff; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.main-header ul a:hover::before {
    transform: scaleX(1); 
}

.main-header nav ul {
    list-style-type: none; 
    display: flex;
}


/* FirstView Section */
.first-view {
    height: 1180px;
    background: none; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.first-view::before {
    content: "";
    position: absolute;
    top: -45%;
    left: -20%;
    width: 1744px;
    height: 1744px;
    background: url('img/FirstView.jpg') no-repeat center center;
    z-index: -1; 
}

/* FirstView Container */
.first-view-container {
    position: absolute;
    bottom: 400px; 
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

/* FirstView Heading */
.first-view h1 {
    font-family: 'Terano';
    font-size: 80px;
    color: #fff;
    text-shadow: none;
    text-align: center; 
    -webkit-text-stroke: 2px #000000;
    z-index: 2;
    margin-bottom: 10px;
    text-align: center; 
}

/* Overlay Text */
.overlay-text {
    font-family: 'KIYOSUNASANS', sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center; 
}




/* Scroll Indicator */
.scroll-indicator {
    position: absolute;
    top: 135%;
    left: 200px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    color: #fff;
}

.scroll-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    font-family: 'Terano', sans-serif;
    margin-right: 10px;
    color: #fff;
}

.scroll-text span {
    display: block;
    margin: 2px 0;
}

.scroll-line {
    position: relative;
    width: 2px;
    height: 200px;
    background-color: #fff;
}

.scroll-dot {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    animation: scrollDotMove 2s infinite;
}

@keyframes scrollDotMove {
    0%, 100% {
        top: 0;
    }
    50% {
        top: calc(100% - 15px);
    }
}

/* BrandStory Section */
.brand-story {
    position: relative;
    padding: 500px 0;  
    margin-top: 300px;
    margin-bottom: 300px;;
    overflow: hidden;  
}

.brand-story::before {
    content: "";
    position: absolute;
    top: -25%;  
    left: -10%;
    width: 1813px;  
    height: 1594px;
    background: url('img/BrandStory.jpg') no-repeat center center;
    background-size: cover;
    transform: rotate(49deg);  
    opacity: 0.5;
    z-index: -1; 
}

/* BrandStory Content */
.brand-story-content {
    position: relative; 
    padding-left: 50px; 
    padding-top: 50px; 
}

.brand-story-content h2 {
    font-size: 100px;
    color: #fff;
    font-family: 'Terano', sans-serif;
    position: absolute;
    top: -250px; 
    left: 240px; 
    text-shadow: 5px 5px 0px rgba(47, 46, 46, 0.5);
    margin: 0; 
}

.brand-story-content p {
    font-size: 18px;
    color: #fff;
    font-family: 'KIYOSUNASANS', sans-serif;
    position: absolute;
    top: 25px; 
    left: 600px; 
    line-height: 66px; 
    letter-spacing: 0.05em; 
    margin: 0; 
    text-align: left;
    width: 80%; 
}

/* パーティクル用のCSS */
/*#particles-js-1, #particles-js-2, #particles-js-3{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; 
}
*/

/* Product Section */
.product {
    padding: 50px 0;
    background: #121212;
    position: relative;
    overflow: hidden;
}




.product-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2; 
}

.product h2 {
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 163px;
    color: #e6007e;
    font-family: 'Abel', sans-serif;
    text-align: left;
}

.product-description {
    font-size: 24px;
    color: #ffffff;
    text-align: left;
    left: 3px;
    margin-top : -30px;
    padding-bottom: 30px;
}

.product-item p {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.product-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 150px;
    position: relative;
}

.product-item img {
    width: 55%;
    height: 400px;
    object-fit: cover;
    margin-right: 50px;
    transition: transform 0.3s ease;
}

.product-item:nth-child(odd) {
    flex-direction: row;
}

.product-item:nth-child(odd) img {
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    margin-right: 20px;
    margin-left: 0;
}

.product-item:nth-child(odd)::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -30px; /* Adjust to position the shadow correctly */
    width: 55%;
    height: 400px;
    background: #532B4F;
    clip-path: polygon(0 0, 75% 0, 100% 100%, 25% 100%);
    z-index: -1;
    filter: blur(15px); /* Adjust the blur for a shadow effect */
}

.product-item:nth-child(even) {
    flex-direction: row-reverse;
}

.product-item:nth-child(even) img {
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    margin-right: 0;
    margin-left: 20px;
}

.product-item:nth-child(even)::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -30px; /* Adjust to position the shadow correctly */
    width: 55%;
    height: 400px;
    background: #60D4DD;
    clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
    z-index: -1;
    filter: blur(15px); /* Adjust the blur for a shadow effect */
}

.product-content-odd {
    position: absolute;
    top: 50%;
    width: 40%;
    left: 60%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(96, 212, 221, 0.4));
    border: 1px solid rgba(96, 212, 221, 0.8); /* 半透明のシアン枠線 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    backdrop-filter: blur(10px); /* 背景のぼかし効果 */
}

.product-content-even {
    position: absolute;
    top: 50%;
    width: 40%;
    right:60%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(96, 212, 221, 0.4));
    border: 1px solid rgba(96, 212, 221, 0.8); /* 半透明のシアン枠線 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* 背景のぼかし効果 */
    color: #ffffff;
}

.product-content-odd h3, .product-content-even h3 {
    font-size: 36px;
    color: #00e6e6;
    font-family: 'Abel', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.product-content-odd p, .product-content-even p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;
}




/* PickUp Section */
.pickup {
    padding: 50px 0;
    text-align: center;
    background: #121212;
}

.pickup-description {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top : -30px;
    padding-bottom: 30px;
}

.pickup-container {
    position: relative;
    z-index: 2; 
}


.pickup h2 {
    font-size: 163px;
    color: #e6007e;
    margin-bottom: 10px;
    font-family: 'Abel', sans-serif;
}

.pickup p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.pickup-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.pickup-item img {
    width: 45%; 
    height: auto; 
    max-height: 500px; 
    clip-path: polygon(0% 10%, 30% 10%, 40% 0%, 100% 0%, 100% 90%, 70% 90%, 60% 100%, 0% 100%);
    margin: 0 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.mirrored-image {
    transform: scaleX(-1);
}

.pickup-item:nth-child(odd) {
    margin-left: 0;
    margin-right: 20px;
}

.pickup-item:nth-child(even) {
    flex-direction: row-reverse;
}

.pickup-content-odd {
    max-width: 600px;
    text-align: left; 
    margin-left: 98px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(96, 212, 221, 0.4));
    border: 1px solid rgba(96, 212, 221, 0.8); /* 半透明のシアン枠線 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* 背景のぼかし効果 */ 
    padding: 20px;  
}

.pickup-content-even {
    max-width: 600px;
    text-align: left;
    margin-right: 98px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.4), rgba(96, 212, 221, 0.4));
    border: 1px solid rgba(96, 212, 221, 0.8); /* 半透明のシアン枠線 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* 背景のぼかし効果 */
    padding: 20px;
}

.pickup-content-odd h3 {
    font-size: 44px;
    margin: 0 0 10px;
    color: #60D4DD;
    font-family: 'Terano', sans-serif;
}

.pickup-content-odd h3 span {
    font-size: 0.8em;
    color: transparent;
    -webkit-text-stroke: 1px #60D4DD;
}

.pickup-content-odd p:first-of-type {
    font-size: 20px;
    color: #fff;
}

.pickup-content-odd p {
    margin: 5px 0;
    line-height: 29px;
    font-size: 16px;
}

.pickup-content-even h3 {
    font-size: 44px;
    margin: 0 0 10px;
    color: #60D4DD;
    font-family: 'Terano', sans-serif;
}

.pickup-content-even h3 span {
    font-size: 0.8em;
    color: transparent;
    -webkit-text-stroke: 1px #60D4DD;
}

.pickup-content-even p:first-of-type {
    font-size: 20px;
    color: #fff;
}

.pickup-content-even p {
    margin: 5px 0;
    line-height: 29px;
    font-size: 16px;
}

.pickup-content-odd p + p {
    margin-top: 40px; 
}

.pickup-content-even p + p {
    margin-top: 40px; 
}




.news {
    background: #121212;
}

.news-container {
    text-align: center;
    z-index: 2;
}

.news-description {
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: -120px;
    padding-bottom: 20px;
}

.news h2 {
    font-family: 'Abel', sans-serif;
    font-size: 128px;
    color: #e6007e;
}

.news p {
    font-family: 'KIYOSUNASANS', sans-serif;
    font-size: 22px;
    color: #fff;
}

/* ↓ スライドの外枠 */
.slide-wrapper {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden; /* はみ出したスライドを隠す */
    padding-bottom: 100px;
  }
  /*  ↓ スライド（コンテンツ） */
  .slide { /*スライド全体 */
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s;
  }
  .slide div { /* スライド */
    width: 33.33%;
    height: 100%;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .slide img{
    width: 600px;
    height:410px;
  }

  .slide p{
    font-family: 'KIYOSUNASANS', sans-serif;
    font-size: 16px;
    color: #fff;
  }
  .slide1 { /* スライドさせるために必要なクラス */
    transform: translateX(0);
  }
  .slide2 { /* スライドさせるために必要なクラス */
    transform: translateX(-33.33%);
  }
  .slide3 { /* スライドさせるために必要なクラス */
    transform: translateX(-66.66%);
  }

  /* ↓ 左右のボタン */
  .next {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 10px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    -webkit-transform: rotate(45deg) translateY(50%);
    transform: rotate(45deg) translateY(50%);
  }
  .prev {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 25px;
    bottom: 50%;
    z-index: 10;
    cursor: pointer;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    -webkit-transform: rotate(-135deg) translateY(-50%);
    transform: rotate(-135deg) translateY(-50%);
  }
  /* ↓ インジケーター */
  .indicator {
    width: 100%;
    position: absolute;
    bottom: 50px; /* 必要に応じて調整 */
    left: -40px; /* 左右に調整したい場合 */
    display: flex;
    column-gap: 18px;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

  .indicator li {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    list-style: none;
    background-color: #fff;
    border: 2px #000 solid;
    cursor: pointer;
  }
  .indicator li:first-of-type {
    background-color: #60D4DD
  }


/* Footer Section */
.footer {
    background: #000000;
    position: relative;
}

.copyright {
    font-size: 16px;
    font-family: 'Terano', sans-serif;
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    text-align: center; 
}

.followus {
    font-family: 'Terano', sans-serif;
    font-size: 36px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 120px; 
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.social-links a {
    margin: 0 62px; 
}

.social-links img {
    width: 50px;
    height: 50px;
}

/* スマホ用スタイル */
@media screen and (max-width: 768px) {
    .pc-content {
        display: none;
    }

    .sp-content {
        display: block;
    }

    body{
        overflow-x: hidden;
    }

    .header-bg{
        background-color: #1d1d1d;
        z-index: 1;
    }


    .header-area{
        display: flex;
        justify-content: space-between;
        height: 65px;
        padding: 0 20px;
        align-items: center;
        position: fixed; 
        top: 0; 
        width: 100vw; 
        z-index: 10;
        background-color: #1d1d1d;
      }
      .header-area h1{
        font-size: 24px;
        color: #fff;
        padding-left: 5%;
        font-family: 'Terano', sans-serif;
      }

      .header-area ul a {
        text-decoration: none; 
        color: #1d1d1d; 
        font-family: 'Abel', sans-serif; 
        font-size: 40px; 
        position: relative; 
        text-align: left;
    }


      .hamburger{
        width: 40px;
        height: 25px;
        position: relative;
      }
      .hamburger span{
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        transition: .5s;
      }
      .hamburger span:first-of-type{/* ハンバーガーメニューの1番目の線 */
        top: 0;
      }
      .hamburger span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
        top: 50%;
      }
      .hamburger span:last-of-type{/* ハンバーガーメニューの3番目の線 */
        top: 100%;
      }
      .slide-menu{
        background-color: rgba(54, 54, 54);
        position: fixed;
        top: 65px;
        width: 100%;
        height: 100vh;
        left: 0;
        transform: translateX(100%);
        transition: .5s;
        list-style-type: none;
        padding: 0;
        margin:0;
        z-index: 10;
      }
      .slide-menu a{
        display: block;
        padding: 10px;
        padding-left: 8%;
        color: #fff;
        line-height: 200%;
        text-decoration: none;
        background-color: rgba(54, 54, 54, 0.9);
        font-family: 'Abel', sans-serif; 
        font-size: 36px; 
        border-bottom: 1px solid #1d1d1d;
        position: relative; 
        text-align: left;
      }

      .hamburger.active span:first-of-type{/* ハンバーガーメニューの1番目の線 */
        top: 50%;
        transform: rotate(405deg);
      }
      .hamburger.active span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
        opacity: 0;/* 透明にする */
      }
      .hamburger.active span:last-of-type{/* ハンバーガーメニューの3番目の線 */
        top: 50%;
        transform: rotate(-405deg);
      }
      .slide-menu.active{
        transform: translateX(0);
      }

}
